*{margin: 0; padding: 0; box-sizing: border-box;}


.par{
    display: flex;
    align-items: center;
    gap: 100px;
    flex-direction: column;
}

.box{
    width: 800px;
    height: 300px;
    background: grey;
}

.par .range {
    appearance: none;
    width: 240px;
    height: 40px;
    background-color: gray;
    border-radius: 30px;
    cursor: pointer;
}


.par .range::-webkit-slider-thumb {
    appearance: none;
    width: 28px;
    height: 28px;
    background-color: black;
    border-radius: 50%;
    box-shadow: white 0 0 0 3px, black 0 0 0 6px;
}